.board {
  border: 1px solid;
  max-width: fit-content;

  margin: 5rem auto;
}
.square {
  width: 90px;
  height: 90px;
  /* color: red; */
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkBg {
  background-color: rgb(111, 111, 111);
  border: 1px solid rgb(111, 111, 111);
}
.lightBg {
  background-color: rgb(249, 245, 229);
  border: 1px solid rgb(249, 245, 229);
}
.hoveredBg {
  background-color: rgb(131, 232, 228);
  border: 1px solid rgb(114, 215, 212);
}

.piece {
  mix-blend-mode: multiply;
  cursor: move;
}
.pieceOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.8);
}
