.board {
  border: 1px solid;
  max-width: fit-content;

  margin: 5rem auto;
}
.square {
  width: 90px;
  height: 90px;
  /* color: red; */
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.darkBg {
  background-color: rgb(111, 111, 111);
}
.lightBg {
  background-color: rgb(249, 245, 229);
}
